
@{
    ViewBag.Title = "BemVindo";
}

<h2>Bem Vindo</h2>

<!DOCTYPE html>
<html>
<head>
    <title>Bem-vindo</title>
    <style>
        body {
            background-color: #f1f1f1;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            text-align: center;
        }

        h1 {
            color: #333333;
        }

        p {
            color: #666666;
        }
      
      
    </style>
</head>
<body>
    <div class="container">
        <h1 >Bem-vindo!  Login bem sucedido!</h1>
        <p class="pres">Seja bem-vindo à nossa plataforma.</p>
        <p>Aqui você pode aproveitar todos os recursos disponíveis e desfrutar de uma ótima experiência.</p>
        <p>Continue explorando e aproveite!</p>
    </div>
</body>
</html>
